{
	"tabWidth": 2,
	"useTabs": true,
	"indentUnit": 4,
	"indentWithTabs": true,
	"electricChars": true,
	"autoCloseBrackets": true,
	"autoCloseTags": true,
	"matchTags": true,
	"matchBrackets": true,
	"showCursorWhenSelecting": true,
	"lineNumbers": true,
	"lineWrapping": true,
	"gutter": true,
	"fixedGutter": true
}
