{
	"extends": ["stylelint-config-recommended", "stylelint-config-prettier"],
	"ignoreFiles": ["public/fontello/fontello-*/css/*.*"],
	"rules": {
		"selector-class-pattern": "^[a-z][a-zA-Z0-9]+$",
		"order/properties-alphabetical-order": true,
		"color-no-invalid-hex": true,
		"unit-no-unknown": true,
		"color-named": "never",
		"at-rule-no-vendor-prefix": true,
		"font-weight-notation": "named-where-possible",
		"selector-type-no-unknown": true,
		"selector-no-vendor-prefix": true,
		"selector-pseudo-element-no-unknown": true,
		"selector-pseudo-class-no-unknown": true,
		"at-rule-no-unknown": true,
		"color-hex-length": "long"
	},
	"plugins": ["stylelint-order"]
}
