*,
::after,
::before {
	box-sizing: border-box;
}

*,
html {
	margin: 0;
	padding: 0;
}

img,
a {
	touch-action: none;
	-webkit-touch-callout: none;
	-webkit-user-drag: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
