.icon-link:before {
	content: "\e800";
} /* '' */
.icon-home:before {
	content: "\e801";
} /* '' */
.icon-location:before {
	content: "\e802";
} /* '' */
.icon-globe:before {
	content: "\e803";
} /* '' */
.icon-star:before {
	content: "\e804";
} /* '' */
.icon-heart:before {
	content: "\e805";
} /* '' */
.icon-briefcase:before {
	content: "\e806";
} /* '' */
.icon-download:before {
	content: "\e807";
} /* '' */
.icon-award:before {
	content: "\e808";
} /* '' */
.icon-spin2:before {
	content: "\e831";
} /* '' */
.icon-spin4:before {
	content: "\e834";
} /* '' */
.icon-certificate:before {
	content: "\f0a3";
} /* '' */
.icon-mail-alt:before {
	content: "\f0e0";
} /* '' */
.icon-sitemap:before {
	content: "\f0e8";
} /* '' */
.icon-shield:before {
	content: "\f132";
} /* '' */
.icon-rocket:before {
	content: "\f135";
} /* '' */
.icon-link-ext-alt:before {
	content: "\f14c";
} /* '' */
.icon-youtube-play:before {
	content: "\f16a";
} /* '' */
.icon-instagram:before {
	content: "\f16d";
} /* '' */
.icon-windows:before {
	content: "\f17a";
} /* '' */
.icon-android:before {
	content: "\f17b";
} /* '' */
.icon-bank:before {
	content: "\f19c";
} /* '' */
.icon-graduation-cap:before {
	content: "\f19d";
} /* '' */
.icon-language:before {
	content: "\f1ab";
} /* '' */
.icon-empire:before {
	content: "\f1d1";
} /* '' */
.icon-share-squared:before {
	content: "\f1e1";
} /* '' */
.icon-diamond:before {
	content: "\f219";
} /* '' */
.icon-user-circle:before {
	content: "\f2bd";
} /* '' */
.icon-github-squared:before {
	content: "\f300";
} /* '' */
.icon-twitter-squared:before {
	content: "\f304";
} /* '' */
.icon-facebook-squared:before {
	content: "\f308";
} /* '' */
.icon-linkedin-squared:before {
	content: "\f30c";
} /* '' */
